.first-section{
    height: 100vh;
}
.nav_container{
    /* background-color: #292C38; */
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    /* padding: 10px */
}
.fullpage-cont{
    /* max-width: calc(1440px - 40px); */
    width: calc(100% - 40px);
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}
.header-container{
    max-width: 1440px;
    width: calc(100% - 80px);
    padding: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-name{
    font-size: 28px;
}
.theme{
    padding: 0 0 0 20px;
}
.btns-cont{
    display: flex;
    max-width:335px;
    padding: 0 10px;
    justify-content: space-between;
    margin: 0 auto;
}
.theme-icon{
    color:black;
    animation: myanimation 10s infinite;
    transition: transform .2s;
}
.theme-icon:hover {
    transform: scale(1.5)
}
@keyframes myanimation {
    0% {color: #2476AC;}
    25%{color:#D55646;}
    50%{color:#F0BD08;}
    75%{color:#484F61;}
    100% {color: #299884;}
  }
nav{
    max-width: 342px;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    color: var(--font-nav-link);
    margin: 5px 10px;
}
.links-div{
    display: flex;
    align-items:center;
}
.nav-link:hover{
    color: var(--font-primary-color);
}
.logo-div{
    display: flex;
    align-items: center;    
}
.logo-icon{
    transform: scale(1.6);
    margin: 15px;
}
.lmd-cont{
    max-width: 1440px;
    width: calc(100% - 40px);
    margin: 0 auto;
    padding: 50px 20px 0 20px;
}
.container-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

#container {
    display: inline-block;
    position: relative;
    width: 90%;
    margin: 0 auto;
  }
  
#dummy {
    margin-top: 85%;
    /* 4:3 aspect ratio */
}

#element {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-opp-color);
}
.light-mode_cont{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 500px;
    background-color: var(--primary-opp-color);
    position: relative;
}
.second-section{
    background-color: var(--primary-opp-color);
    width: 100%;
    height: 700px;
    z-index: 10;
    position: relative;
}
.head-text{
    margin-top: 10vh;
}
.input-bar{
    position: absolute;
    top: 4%;
    bottom: 89%;
    right: 5%;
    left: 15%;
    background-color: var(--secondary-opp-color);
}
.box-1{
    position: absolute;
    top: 25%;
    bottom: 61%;
    right: 71%;
    left: 15%;
    background-color: var(--secondary-opp-color);    
}
.box-2{
    position: absolute;
    top: 41%;
    bottom: 45%;
    right: 71%;
    left: 15%;
    background-color: var(--secondary-opp-color);    
}
.box-3{
    position: absolute;
    top: 25%;
    bottom: 45%;
    right: 44%;
    left: 30.5%;
    background-color: var(--secondary-opp-color);    
}
.box-4{
    position: absolute;
    top: 25%;
    bottom: 61%;
    right: 14%;
    left: 57.5%;
    background-color: var(--secondary-opp-color);    
}
.box-5{
    position: absolute;
    top: 41%;
    bottom: 45%;
    right: 14%;
    left: 67.5%;
    background-color: var(--secondary-opp-color);    
}
.circle-1{
    position: absolute;
    top: 43%;
    bottom: 47%;
    right: 34%;
    left: 57.5%;
    background-color: var(--secondary-opp-color);    
    border-radius: 50%;
}
.box-6{
    position: absolute;
    top: 61%;
    bottom: 15%;
    right: 14%;
    left: 15%;
    background-color: var(--secondary-opp-color);    
}


@media screen and (max-width: 800px){
    .nav_container{
    height: 60px;
    }
 }
@media screen and (max-width: 511px){
    .header-container{
        max-width: 1440px;
        width: calc(100% - 20px);
        padding: 10px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 445px){
    .links-div{
        flex-direction: column;
    }
    .btns-cont{
        flex-direction: column;
        height: 100px;
    }
    .head-text{
        margin-top: 1vh;
        font-size: 25px;
        line-height: 30px;
        font-weight: 300;
    }
    
 }
@media screen and (max-width: 377px){
    .s-up{
        display: none;
    }
}