<div class="nav_container bg-dark">
    <div class="header-container">
        <div class="logo-div">
            <mat-icon color="accent" class="logo-icon">donut_small</mat-icon>
            <div class="logo-name">JAC</div>
        </div>
        <nav>
            <div class="links-div">
                <a href="" class="nav-link">MOBILE</a>
                <a href="" class="nav-link">FEATURES</a>
            </div>
            <a href="" class="nav-link btn btn-medium bg-green" routerLink="/security/login">LOG IN</a>
        </nav>
    </div>
</div>
<div>
    <h1>get details test</h1>
</div>
<!-- <button class="btn bg-green">test button</button>
<button class="btn ">SIGN UP FOR FREE</button>
<h1>test h1 tag</h1>
<p>test p tag</p> -->
<!-- <a href="#" class="btn bg-green">test a</a> -->