.nav_container{
    /* background-color: #292C38; */
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    /* padding: 10px */
}
.fullpage-cont{
    /* max-width: calc(1440px - 40px); */
    width: calc(100% - 40px);
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}
.header-container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-name{
    font-size: 28px;
}
.theme{
    padding: 0 10px 0 20px;
}
.btns-cont{
    display: flex;
    max-width:335px;
    padding: 0 10px;
    justify-content: space-between;
    margin: 0 auto;
}
.theme-icon{
    color:black;
    animation: myanimation 10s infinite;
    transition: transform .2s;
}
.theme-icon:hover {
    transform: scale(1.5)
}
@keyframes myanimation {
    0% {color: #2476AC;}
    25%{color:#D55646;}
    50%{color:#F0BD08;}
    75%{color:#484F61;}
    100% {color: #299884;}
  }
nav{
    max-width: 342px;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    color: var(--font-nav-link);
    margin: 5px 10px;
}
.links-div{
    display: flex;
    align-items:center;
}
.nav-link:hover{
    color: var(--font-primary-color);
}
.logo-div{
    display: flex;
    align-items: center;    
}
.logo-icon{
    transform: scale(1.6);
    margin: 15px;
}

@media screen and (max-width: 800px){
    .nav_container{
    height: 60px;
    }
 }

@media screen and (max-width: 435px){
    .links-div{
        flex-direction: column;
    }
 }