<div [class.light-theme]="isLightTheme" class="first-section">
    <div class="nav_container bg-dark">
        <div class="header-container">
            <div class="logo-div">
                <!-- <mat-icon color="accent" class="logo-icon">donut_small</mat-icon> -->
                <div class="logo-name">&lt;/JAC&gt;</div>
            </div>
            <nav>
                <div class="links-div">
                    <a href="" class="nav-link">MOBILE</a>
                    <a href="" class="nav-link">FEATURES</a>
                </div>
                
                <button class="s-up nav-link-btn btn btn-medium bg-green" routerLink="/security/register">SIGN UP</button>
                <div class="theme" (click)="toggleField()">
                    <mat-icon class="theme-icon">wb_sunny</mat-icon>
                </div>
            </nav>
        </div>
    </div>
    <div class="fullpage-cont" [class.light-theme]="isLightTheme">
        <h1 class="text-center head-text">A simple Social Media app developed by JMendiola</h1> 
        <p class="text-center mb-5vh">The technologies used to develop this app are Angular, Php Laravel and Mysql</p>
        <div>
        </div>

        <div class="btns-cont">            
            <button class="nav-link-btn btn btn-medium bg-green" routerLink="/security/register">SIGN UP FOR FREE</button>
            <button class="nav-link-btn btn btn-medium bg-grey" routerLink="/security/login">LOG IN</button>
        </div>
    </div>
    <div class="container-wrapper">        
        <div id="container">
            <div id="dummy">test</div>
            <div id="element" (click)="toggleField()">
                <div class="ribbon ribbon-top-right"><span>{{oppositTheme}} MODE</span></div>
                <div class="input-bar"></div>
                <div class="box-1"></div>
                <div class="box-2"></div>
                <div class="box-3"></div>
                <div class="box-4"></div>
                <div class="box-5"></div>
                <div class="circle-1"></div>
                <div class="box-6"></div>
            </div>
        </div>
    </div>
</div>
<div class="second-section">

</div>