.outer-cont{
    width: 100%;
    background-color: #484f61;
}
.container{
    display: flex;
    max-width: 1000px; 
    width: calc(100% - 50px);
    padding: 0 30px 0 20px;
    margin: 0 auto;
    justify-content: space-between;
    align-items:center;
}
.logout{
    transform: scale(1.5);
    color: #fff;
}
.logout:hover{
    color: #2C9986;
}
.greetings{
    text-transform: capitalize;
    margin-left: 10px;
}
.greetings:hover{
    color: #2C9986;    
}
.account{
    display:flex;
    align-items:center
}
.avatar{
    color: #F0BD08;
    transform: scale(1.3);
}