<div class="container">
    <table class="table table-striped">
      <div class="posts-cont">
        <div class="user-cont">          
          <mat-icon class="user-avatar">account_circle</mat-icon>
          <button (click)="openDialog('Add')" class="input-btn">What's on your mind, {{name}}?</button>
        </div>
        <div class="divider">          
          <mat-divider></mat-divider>
        </div>
        <div class="icons-cont">
          <div class="items-cont">            
            <mat-icon class="avatar-one">insert_photo</mat-icon>
            <span>Item 1</span>
          </div>
          <div class="items-cont">            
            <mat-icon class="avatar-two">videocam</mat-icon>
            <span>Item 2</span>
          </div>
          <div class="items-cont">            
            <mat-icon class="avatar-three">games</mat-icon>
            <span>Item 3</span>
          </div>
        </div>
      </div>
      <div *ngFor="let post of postsData;" class="posts-cont">
        <div class="posts-header-cont">            
          <div class="author-cont">
            <mat-icon class="avatar">account_circle</mat-icon>{{post.name}}
            {{post.id}}
          </div>          
          <div *ngIf="post.user_id == localId">       
            <mat-icon class="edit" (click)="openEditDialog(post.id,post.content,'Edit')">edit</mat-icon>
            <mat-icon class="delete" (click)="openEditDialog(post.id,post.content,'Delete')">delete_outline</mat-icon>
          </div>
        </div> <br>
        <tr>{{post.content}}</tr>
        <div class="divider-comment"><mat-divider></mat-divider></div>
        <a (click)="comment()">Comment</a>
        <div class="divider-comment"><mat-divider></mat-divider></div>
        <div *ngFor="let comment of commentsData;">
          <div *ngIf="comment.post_id == post.id" class="comment">              
            <mat-icon class="comment-avatar">account_circle</mat-icon>          
            <div class="com">
              <div class="commenter">{{comment.name}}</div>
              {{comment.comment}}
            </div>
          </div>
        </div>
      </div>
    </table>
</div>

