.container{
    max-width: 680px; 
    width: calc(100% - 40px);
    padding: 20px;
    margin: 0 auto
}
.table{
    width: 100%;
}
.posts-cont{
    width: calc(100%-30px);
    padding: 15px;
    margin: 15px 0;
    background-color: #484F61;
    border-radius: 10px;
}
.avatar{
    margin-right: 5px;
    color: #299884;
}
.author-cont{
    display: flex;
    align-items: center;
}