.card-container{
    min-width: 300px;
    max-width:350px;    
    /* width: 100%; */
    padding:20px;
    margin-top: 10px;
    border-radius: 10px;
}
.cont{    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.company{
    min-width: 250px;
    max-width:350px;    
    /* width: 100%; */
    padding:20px;
    margin-top: 10px;
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    justify-content: center
}

@media screen and (max-width: 650px){
    .cont{    
        flex-direction: column;
    }
 }
@media screen and (max-width: 350px){
    .card-container{
    min-width: 250px;
}
 }