<div class="card-container bg-dark">
    <form>
        <h4 class="light">LOGIN</h4>
        <mat-form-field appearance="fill" style="width:100%">
            <mat-label>Username</mat-label>
            <input matInput maxlength="100" placeholder="Enter your username" class="light">
        </mat-form-field> 
        <mat-form-field appearance="fill" style="width:100%">
            <mat-label>Password</mat-label>
            <input type="password" matInput maxlength="100" placeholder="Enter your username">
        </mat-form-field>
        <button href="" class="btn full-width bg-green">LOG IN</button>
        <a href="" class="lh-50">Forggot password ?</a>
    </form>
</div>