/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/buttons.css';
@import 'assets/styles/colors.css';
@import 'assets/styles/font.css';
@import 'assets/styles/utilities';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import '~ngx-toastr/toastr';
html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif; background-color:#363B48; color: #fff;}

mat-dialog-container {
    background-color: #484F61 !important;
    max-height: 300px;
 }
