/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/buttons.css';
@import 'assets/styles/colors.css';
@import 'assets/styles/font.css';
@import 'assets/styles/utilities';
@import 'assets/styles/loader';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import '~ngx-toastr/toastr';
html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif; background-color:var(--secondary-color); color: var(--font-primary-color);}
p{color:var(--font-primary-color)}

body{
	--primary-color:#292C38;
	--secondary-color:#363B48;
	--font-primary-color:#fff;
	--font-nav-link:#848999;
	--btn-primary:#2C9986;
	--btn-secondary:#6F717E;
	
	--primary-opp-color:#FDEFEF;
    --secondary-opp-color:#F4DFD0;
    /* light mode */
	/* --primary-color:#F4DFD0;
	--secondary-color:#FDEFEF;
	--font-primary-color:#292C38;
	--font-secondary-color:#fff;
	--font-nav-link:#363B48;
	--btn-primary:#2C9986; */
}

body.light-theme{
	--primary-color:#F4DFD0;
	--secondary-color:#FDEFEF;
	--font-primary-color:#292C38;
	--font-secondary-color:#fff;
	--font-nav-link:#363B48;
	--btn-primary:#2C9986;
	
	--primary-opp-color:#363B48;
    --secondary-opp-color:#292C38;
}

mat-dialog-container {
    background-color: #484F61 !important;
    max-height: 300px;
 }
